<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table</title>
</head>
<body>
<h1>Pending Applications</h1>
    <table border="1%">
        <th>Name</th>
        <th>Email</th>
        <th>id</th>
        <th>from</th>
        <th>to</th>
        <th>days</th>
        <th>status</th>
        <tr>
            <td>{{name}}</td>
            <td>{{email}}</td>
            <td>{{_id}}</td>
            <td>{{from_date}}</td>
            <td>{{to_date}}</td>
            <td>{{days}}</td>
            <td>{{status}}</td>
        </tr>
    </table>
</body>
</html>