<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table</title>
</head>
<body>
<h1>All users</h1>
    <table border="1%">
        <th>Name</th>
        <th>Email</th>
        <th>id</th>
        <th>total_leaves</th>
        <th>remaining_leaves</th>
    {% for item in values %}
        <tr>
            <td>{{item.name}}</td>
            <td>{{item.email}}</td>
            <td>{{item._id}}</td>
            <td>{{item.total_leaves}}</td>
            <td>{{item.remaining_leaves}}</td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>